button.sign{
	width: 18%;
}

p.reg{
	width: 25%;
}

.pad{
	padding-left: 10px;
}

.wpercent40{
	width: 40vw;
}
.wpercent35{
	width: 35vw;
}
.wpercent30{
	width: 30vw;
}
.wfit{
	width: fit-content;
}
.hfit{
	height: fit-content;
}
.center-bordered{
	margin: 2% auto 2%;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.9);
}

.paddingTop
{
	padding-top: 3vh;
}

.icon{
	width: 40px;
	height: 40px;
}

.sign{
	width: 3vh;
	height: 3vh;
}

img.round{
	border-radius: 50%;
}

.red{
	color: red;
}

.green{
	color: green;
}

body{
	/* background-image: url('./background.jpg'); */
	background-image: url('./background.png');
	/* background-image: url('https://wallpaperaccess.com/full/4437563.jpg'); */
	/* background-image: url('https://wallpaperaccess.com/full/4437563.jpg'); */
	background-size: 100% 100vh;
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
}

.center{
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cursor_pointer
{
  cursor: pointer;
}

.ico_sized
{
  width: 10vw;
}

.width100perc
{
  width: 100%;
}

.pill
{
	background-color: rgba(126, 126, 126, 0.9);
	border-radius: 20px;
	padding: 0% 2%;
	margin: 0.25%;
	color: aliceblue;
}

.addButton
{
	position: sticky;
	top: 5vh;
	margin: 0% 5%;
	float: right;
}

.sidePad{
	padding: 2%;
}

.float-right
{
	float: right;
}

.float-left
{
	float: left;
}

.right-top
{
	position: relative;
	top: 0%;
	right: 0%;
}

.iconmarg
{
	margin-left: 1vw;
	margin-bottom: 1vh;
}

.signmarg
{
	margin: 0.7vh;
}

.color-nav
{
	background-color: rgb(199, 199, 204);
}

.color-search
{
	background-color: rgb(174, 174, 178);
}

.btn-red
{
	background-color: rgb(255, 59, 48);
}