input[type=text].search-bar, input[type=text].search-bar:visited {
    width: 40%;
    box-sizing: border-box;
    border: 0px solid #ccc;
    background-image: url('../Search_icon.svg');
    background-size: 22px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 6px 20px 6px 40px;
    border-radius: 20px;
    font-size: 20px;
    min-width: 50vw;
  }